{% extends 'base.html' %}

{% block content %}




<form method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='save' />
</form>

{% comment %} <form action='http://www.google.com/search' method='GET'>
    <input type='text' name='q' placeholder='search'/> 
    <input type='submit' value='save' />
</form> {% endcomment %}

{% comment %} <form action='' method='POST'> {% csrf_token %}
    <input type='text' name='title' placeholder='title'/> 
    <input type='submit' value='save' />
</form> {% endcomment %}





{% endblock %}
